<mat-card class="main-card">
  Note D
  <mat-card-content>
    <mat-form-field>
      <input matInput placeholder="Login" [(ngModel)]="login">
    </mat-form-field>
    <br>
    <mat-form-field >
      <input matInput placeholder="Input" [(ngModel)]="password">
    </mat-form-field>
    <br>
  </mat-card-content>

  <mat-card-actions>
    <button  (click)="addUser()" mat-raised-button color="primary">Add User</button>
    <button  (click)="getAllUsers()" mat-raised-button color="primary">Find All</button>
  </mat-card-actions>

</mat-card>
<br>
  <mat-card class="mat-card-users" *ngFor="let user of users">
    <mat-card-content>
        Login: {{user.login}}<br>
        Password: {{user.password}}
    </mat-card-content>
  </mat-card>



