/* You can add global styles to this file, and also import other style files */

body {
  text-align: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgba(103,58,183,0.27);
}

